<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Register Form</title>
</head>
<body>
    <header class="header container">
        <h1 class="header__title">Registration</h1>
    </header>
    <div class="form-wrapper container">
        <form action="" method="POST">
            <input class="form-wrapper__input" type="text" id="firstname" name="firstname" placeholder="Firstname" required>
            <input class="form-wrapper__input"  type="text" id="lastname" name="lastname" placeholder="Lastname" required>
            <input class="form-wrapper__input"  type="email" id="email", name="email" placeholder="Email" required>
            <input class="form-wrapper__input" type="password", id="password", name="password" placeholder="Password" required>
            <button class="form-wrapper__btn" type="submit">Submit</button>
            <a class="form-wrapper__link" href="/private">list of students</a>
        </form>
    </div>

</body>
</html>